.button-delete {

    width: 100px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #e62222;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    position: absolute;
    overflow: hidden;
    top: 5px;
    right: 5px;
  }
  
  .button-delete, .button-delete span {
    transition: 200ms;
  }
  
  .button-delete .text {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
  }
  
  .button-delete .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(70px);
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
  }
  
  .button-delete svg {
    width: 15px;
    fill: #eee;
  }
  
  .button-delete:hover {
    background: #ff3636;
  }
  
  .button-delete:hover .text {
    color: transparent;
  }
  
  .button-delete:hover .icon {
    width: 100px;
    border-left: none;
    transform: translateX(0);
  }
  
  .button-delete:focus {
    outline: none;
  }
  
  .button-delete:active .icon svg {
    transform: scale(0.8);
  }
  .add-article-btn {
    justify-self: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #00a600;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #00a600;
  }
  
  .add-article-btn,
  .add-article-btn span {
    transition: 200ms;
  }
  
  .add-article-btn .text {
    transform: translateX(15px);
    color: white;
    font-weight: bold;
  }
  
  .add-article-btn .icon {
    position: absolute;
    border-left: 1px solid #007300;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-article-btn svg {
    width: 15px;
    fill: #eee;
  }
  
  .add-article-btn:hover {
    background: #00a600;
  }
  
  .add-article-btn:active {
    background: #00cc00;
  }
  
  .add-article-btn:hover .text {
    color: transparent;
  }
  
  .add-article-btn:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
  .add-article-btn:focus {
    outline: none;
  }
  
  .add-article-btn:active .icon svg {
    transform: scale(0.8);
  }
  
  .buttonSpan {
    color: white;
    margin: 150px;
    font-size: 30px;
  }
  /* From Uiverse.io by kennyotsu-monochromia */ 
.logout {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
  margin-left: 15px;
  top: 15px;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    font-size: 20px;
  }
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}
/* text */
.text {

  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.logout {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.logout .sign {
  width: 30%;
  transition-duration: .3s;
}

.logout .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.logout:active {
  transform: translate(2px ,2px);
}