body {
  font-family: "Inter", "Poppins", "Montserrat", sans-serif;
}

.app-title, .add-article-btn{
  text-align: center;
}
.article-list {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.article-item {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.article-item:hover {
  background-color: #f9f9f9;
}

.article-item h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.article-item h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.article-item p {
  font-size: 14px;
  margin-bottom: 8px;
}

.article-item .edit-icon,
.article-item .delete-icon {
  cursor: pointer;
  margin-right: 10px;
  color: #007bff;
}

.article-item .edit-icon:hover {
  color: #0056b3;
}

.article-item .delete-icon {
  color: red;
}

.article-item .delete-icon:hover {
  color: darkred;
}

.article-item input,
.article-item textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.edit-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.save-button {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.article-detail {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
}

.article-detail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article-detail h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.article-detail p {
  font-size: 16px;
  margin-bottom: 10px;
}

.article-detail button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.article-detail button:hover {
  background-color: #0056b3;
}